.test-creation-window{
    width: 75%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 27.25px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #213562;
}
.question-image-div{
    width: 100%;
    min-height: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
}
.image-icon-div{
    width: 100%;
}
.image-icon-div button, .answer-actions button{
    min-width: 30px;
    height: 30px;
    background-color: rgba(179, 179, 179, 0.7);
    border-radius: 5px;
}
.image-icon-div button:hover{
    cursor: pointer;
    filter: brightness(1.2);
}
.answer-actions button{
    background-color: rgba(255, 255, 255, 0.7);
}
.answer-actions button:hover{
    cursor: pointer;
    filter: brightness(0.8);
}
.image-icon-div button img, .answer-actions button img{
    width: 17px;
}
.question-div, .answer-text-div{
    width: 100%;
    height: 100%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.question-div textarea, .answer-text-div textarea{
    background-color: transparent;
    font-size: 24px;
    width: 100%;
    text-align: center;
    max-height: 100%;
    color: white;
    resize: none;
}
.question-div textarea::placeholder{
    color: #D9D9D9;
}
.question-div textarea:focus-visible, .answer-text-div textarea:focus-visible{
    outline: none;
}
.question-div:hover{
    cursor: text;
}
.auto-expanding-div {
    width: 100%;
    min-height: 50px;
    max-height: 100%;
    background-color: transparent;
    font-size: 24px;
    text-align: center;
    color: white;
    overflow: auto;
}
.auto-expanding-div:focus-visible{
    outline: none;
}
.auto-expanding-div:empty:before {
    content: attr(placeholder);
    color: #D9D9D9;
    display: block;
}
select:hover{
    cursor: pointer;
}