{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/join.css' %}">
</head>
<body>
    <main style="background-image: url('{% static 'img/background.png' %}');">
        <h1>QuizMaster</h1>
        <form action="" method="post" class="join-form">
            {% csrf_token %}
            <input type="number" placeholder="Код гри" name="code" class="code-input" {% if error %} style="border-color: red;" {% endif %}>
            
            <button>Ввести</button>
        </form>
    </main>
</body>
</html>