{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Початок тесту</title>
    <script src="{% static 'js/start_test_admin.js' %}" defer></script>
</head>
<body>
    <h1 id="test_code">{{ test.code }}</h1>
    <button id="startTest">Почати тест</button>
    <div class="users">
        {% for user in users %}
            <p><b>{{ user }}</b> <button class="delete-user">×</button></p>
        {% endfor %}
    </div>

</body>
</html>