.answer{
    margin: 10px;
    border: 1px solid blueviolet;
    cursor: pointer;
}
.cover{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
}
.correct{
    border: 2px solid green;
}
.incorrect{
    border: 2px solid red;
}