a{
    text-decoration: none;
}
button:hover{
    cursor: pointer;
}
header h3{
    font-size: 20px;
    font-weight: 500;
    color: #525252;
    min-width: fit-content;
}
main{
    padding: 0 15%;
    padding-top: 50px;
    height: auto;
    box-sizing: border-box;
    justify-content: flex-start;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 40px;
}
.test-info{
    width: 100%;
    display: flex;
    gap: 10px;
}
.test-info h1, .test-info h2{
    font-size: 24px;
    min-width: fit-content;
}
.test-info h1{
    font-weight: 600;
}
.test-info h2{
    font-weight: 400;
    color: #525252;
}
.add-button-div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.add-button{
    background-color: rgba(37, 100, 235, 0.1);
    border-radius: 5px;
    padding: 0 15px;
    min-height: 34px;
    font-size: 16px;
    font-weight: 500;
    color: #2563EB;
    border: 1px solid #2563EB;
    display: flex;
    gap: 8px;
    align-items: center;
}
.add-button img{
    width: 15px;
}
.question-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 5px;
    padding: 16px;
}
.question-actions{
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.button-drag{
    min-width: 24px;
    height: 24px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #D9D9D9;
}
.question-type{
    height: 24px;
    padding: 0 12px;
    background-color: white;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    min-width: fit-content;
}
.select-type{
    height: 24px;
    padding-left: 12px;
    padding-right: 25px;
    font-size: 12px;
    border-color: #D9D9D9;
    background-size: 8px;
}
.question-div-buttons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.edit-button{
    height: 24px;
    padding: 0 12px;
    display: flex;
    gap: 6px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    font-size: 12px;
    background-color: white;
    align-items: center;
}
.edit-button img{
    width: 12px;
}
.delete-button{
    width: 24px;
    height: 24px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    background-color: white;
}
.delete-button img{
    width: 13px;
}
.question-div h3{
    font-size: 14px;
    font-weight: 500;
}
.question-div h4{
    font-size: 12px;
    color: #666666;
    font-weight: 500;
}
.question-answers-div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.question-answer, .blank-answer, .blank-alternate-answer, .match-prompt-div, .match-response-div{
    width: 50%;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 0;
}
.question-answer img, .blank-answer img, .blank-alternate-answer img, .match-prompt-div img, .match-response-div img{
    width: 15px;
}
.match-response-div img{
    transform: rotate(270deg);
}

.blank-answer{
    width: 100%;
}
hr{
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
    margin-bottom: 5px;
}
.blank-alternate-answers{
    width: 100%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.blank-alternate-answer{
    width: auto;
}

.match-answers-div{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.match-answer-div{
    width: 100%;
    display: flex;
}
.overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.publish-form{
    display: flex;
    width: 650px;
    height: 450px;
    border-radius: 5px;
    flex-direction: column;
    background-color: white;
    padding: 15px 20px;
    gap: 5px;
    position: relative;
}
.publish-form h1{
    font-weight: 600;
    font-size: 16px;
    margin-left:8px;
}
.name-input{
    width: 100%;
    min-height: 40px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    padding: 0px 5px;
    font-weight: 500;
    border: 1px solid #D4D4D4;
}
.cover-image-wrapper{
    width: 100%;
    height: 100%;
    padding: 10px 0;
}
.cover-image-div{
    width: 100%;
    height: 100%;
    border: 1px #D9D9D9 dashed;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}
.cover-image{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.cover-image img{
    max-width: 100%;
    max-height: 100%;
}
.add-answer-button{
    min-width: 30px;
    height: 30px;
    background-color: rgba(9, 9, 9, 0.5);
    border-radius: 5px;
}
.add-answer-button img{
    width: 15px;
}
.add-answer-button:hover{
    cursor: pointer;
    border: 1px solid #d4d4d4;
}
.cover-image-div h2{
    font-size: 16px;
    color: rgba(9, 9, 9, 0.5);
    text-align: center;
    width: 150px;
    user-select: none;
}
.publish-button-div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.publish-button{
    background-color: #2563EB;
    display: flex;
    gap: 10px;
    padding: 8px 15px;
    box-sizing: border-box;
    border-radius: 5px;
    align-items: center;
    color: white;
    font-size: 15px;
}
.publish-cancel{
    position: absolute;
    background: none;
    right: 5px;
    top: 5px;
}
.publish-cancel img{
    width: 25px;
}
.cover-image-actions{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.2) 100%);
    align-items: flex-start;
    border-radius: 10px;
}
.cover-image-actions div{
    width: 100%;
    height: 25px;
    gap: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}
.cover-image-actions div button{
    width: 25px;
    height: 25px;
    background-color: rgb(225, 225, 225);
    border-radius: 5px;
    padding: 5px;
}
.question-image-wrapper{
    width: 50px;
    height: 50px;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.question-image{
    max-width: 100%;
    max-height: 100%;
}