{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block links %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div class="menu">
        <a href="/"><h1>QuizMaster</h1></a>
        {% if user.is_authenticated %}
            <a href="/create_quiz/"><button class="button-create">Створити тест</button></a>
            <a class="home-link link" href="/">Головна</a>
            <a class="tests-link link" href="/create_quiz/library">Тести</a>
            <a href="/" class="link">Звіти</a>
            </div>
            <div class="main">
                <div class="header">
                    <a href="{% url 'join' %}"><button>Введіть код</button></a>
                    <a href="/logout"><button>{{ user.username }} <img src="{% static 'img/black_arrow_down.svg' %}" alt=""></button></a>
        {% else %}
            <div class="reg-auth">
                <a href="/reg"><button class="button-reg">Реєстрація</button></a>
                <a href="/auth"><button class="button-auth">Вхід</button></a>
            </div>
        {% endif %}
    </div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>