{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block links %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/base.js' %}" defer></script>
</head>
<body>
    <div class="menu">
        <a href="/"><h1>QuizMaster</h1></a>
        {% if user.is_authenticated %}
            <button class="button-create">Створити тест</button>
            <a class="home-link link" href="/">Головна</a>
            <a class="tests-link link" href="/create_quiz/library">Тести</a>
            <a href="{% url 'reports' %}" class="link">Звіти</a>
            </div>
            <div class="main">
                <div class="header">
                    <a href="{% url 'join' %}"><button>Введіть код</button></a>
                    <a href="/logout"><button>{{ user.username }} <img src="{% static 'img/black_arrow_down.svg' %}" alt=""></button></a>
        {% else %}
            <div class="reg-auth">
                <a href="/reg"><button class="button-reg">Реєстрація</button></a>
                <a href="/auth"><button class="button-auth">Вхід</button></a>
            </div>
        {% endif %}
    </div>
        {% block content %}{% endblock %}
    </div>
    {% if user.is_authenticated %}
        <div class="overlay-base" style="display: none;">
            <div class="popup">
                <img class="cross-popup" src="{% static 'img/cross-popup.png' %}" alt="">
                <h1>Оберіть спосіб створення тесту</h1>
                <a href="/create_quiz/">
                    <div class="create">
                        <div class="popup-head-div"><img src="{% static 'img/yourself.png' %}" alt=""><h2>Власноруч</h2></div>
                        <p>Самостійно сформуйте запитання, варіанти відповідей та налаштування тесту. Повний контроль над вмістом і структурою</p>
                    </div>
                </a>
                <a href="{% url 'create_ai' %}">
                    <div class="create">
                        <div class="popup-head-div"><img src="{% static 'img/ai.png' %}" alt=""><h2>За допомогою ШІ</h2></div>
                        <p>Опишіть тему або ціль тесту, і система згенерує запитання автоматично на основі ваших вхідних даних</p>
                    </div>
                </a>
            </div>
        </div>
    {% endif %}
</body>
</html>