{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'CreateTest/css/create_test.css' %}">
    <link rel="stylesheet" href="{% static 'css/test_creation.css' %}">
    <script src="{% static 'js/test_creation.js' %}" defer></script>
    {% block links %}{% endblock %}
</head>
<body>
    <header>
        <button class="button-back">
            <img src="{% static 'img/black_arrow_down.svg' %}" alt="">
        </button>
        <select class="select-type" style="background-image: url({% static 'CreateTest/img/dropdown_arrow.png' %});">
            {% block type_options %}
            {% endblock %}
        </select>
        <div class="header-saving-div">
            <select class="select-type" id="timeSelect" style="background-image: url({% static 'CreateTest/img/dropdown_arrow.png' %});">
                {% for i in range %}
                    {% if i == 30 %}
                        <option value="{{i}}_points" selected>{{i}} секунд</option>
                    {% else %}
                        <option value="{{i}}_points">{{i}} секунд</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button class="save-question-button">
                <img src="{% static 'CreateTest/img/save.png' %}" alt="">
                <p>Зберегти питання</p>
            </button>
        </div>
    </header>
    <main>
        <form method="post" enctype="multipart/form-data" class="test-creation-window">
            {% csrf_token %}
            <input type="hidden" id="timeInput" name="time">
            <div class="question-image-main-div">
                <div id="question-image" style="display: none;">
                    <div class="question-image-actions" style="display: none;">
                        <div>
                            <button type="button" class="image-question-button"><img src="{% static 'CreateTest/img/picture.png' %}" alt=""></button>
                            <button type="button" class="delete-image-button"><img src="{% static 'CreateTest/img/trash.png' %}" alt=""></button>
                        </div>
                    </div>
                    <img src="{% static 'CreateTest/img/picture.png' %}" class="img" alt="">
                </div>
                <div class="question-image-div">
                    <div class="image-icon-div">
                        <button type="button" class="image-question-button">
                            <img src="{% static 'CreateTest/img/picture.png' %}" alt="">
                        </button>
                        <input type="file" name="question_image" class="question_image" accept="image/*" style="display: none;">
                    </div>
                    <div class="question-div">
                        <div class="auto-expanding-div" contenteditable="true" placeholder="Введіть питання"></div>
                        <input type="hidden" name="question" id="questionInput">
                    </div>
                </div>
            </div>
            {% block content %}{% endblock %}
        </form>
    </main>
</body>
</html>