{% extends 'base.html' %}
{% load static %}

{% block title %}
    Мої тести
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'CreateTest/css/library.css' %}">
{% endblock %}

{% block content %}
    <div class="content">
        {% for test in tests %}
            <form method="post" class="test-form">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ test.id }}">
                <div class="logo-wrapper">
                    {% if test.logo %}
                        <img src="{{ test.logo.url }}" alt="">
                    {% else %}
                        <img src="{% static 'CreateTest/img/test_logo.jpg' %}" alt="">
                    {% endif %}
                </div>
                <div class="test-info">
                    <h3>{{ test.name }} {% if not test.finished %}<p>Чернетка</p>{% endif %}</h3>
                    <p><img src="{% static 'CreateTest/img/menu.png' %}" alt="">{{ test.count_question }}</p>
                    <h4>{{ test.user }}</h4>
                </div>
                <div class="test-actions">
                    <button type="button" class="delete-test-button"><img src="{% static 'CreateTest/img/trash.png' %}" alt=""></button>
                    <div style="display: flex; gap: 10px;">
                        <a href="/create_quiz/test_info/{{ test.id }}"><button type="button" class="button-edit">Редагувати</button></a>
                        <button class="button-start">Грати</button>
                    </div>
                </div>
            </form>
        {% endfor %}
    </div>
{% endblock %}