{% extends 'test_creation.html' %}
{% load static %}

{% block title %}Поєднання{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'CreateTest/css/match.css' %}">
    <script src="{% static 'CreateTest/js/match.js' %}" defer></script>
{% endblock %}

{% block type_options %}
    <option value="multiple">Множинний вибір</option>
    <option value="blank">Заповніть бланк</option>
    <option value="match" selected>Поєднання</option>
{% endblock %}

{% block content %}
    <div class="answers-div">
        <div class="match-div">
            <div class="hint-div" style="background-color: #efa929;">
                <div class="answer-actions">
                    <button type="button" class="delete-answer-button"><img src="{% static 'CreateTest/img/trash.png' %}" alt=""></button>
                    <button type="button" class="image-hint-button"><img src="{% static 'CreateTest/img/picture.png' %}" alt=""></button>
                    <input type="file" name="hint-image" class="hint-image" accept="image/*" style="display: none;">
                </div>
                <div class="hint-text-div">
                    <textarea name="hint" placeholder="Введіть підказку" id=""></textarea>
                </div>
            </div>
            <div class="answer-div" style="background-color: rgba(239, 170, 42, 0.75);">
                <div class="answer-actions">
                    <button type="button" class="delete-answer-button"><img src="{% static 'CreateTest/img/trash.png' %}" alt=""></button>
                    <button type="button" class="image-answer-button"><img src="{% static 'CreateTest/img/picture.png' %}" alt=""></button>
                    <input type="file" name="answer-image" class="answer-image" accept="image/*" style="display: none;">
                </div>
                <div class="answer-text-div">
                    <textarea name="answer" placeholder="Введіть відповідь" id=""></textarea>
                </div>
            </div>
        </div>
        <div class="match-div">
            <div class="hint-div" style="background-color: rgb(41, 189, 239);">
                <div class="answer-actions">
                    <button type="button" class="delete-answer-button"><img src="{% static 'CreateTest/img/trash.png' %}" alt=""></button>
                    <button type="button" class="image-hint-button"><img src="{% static 'CreateTest/img/picture.png' %}" alt=""></button>
                    <input type="file" name="hint-image" class="hint-image" accept="image/*" style="display: none;">
                </div>
                <div class="hint-text-div">
                    <textarea name="hint" placeholder="Введіть підказку" id=""></textarea>
                </div>
            </div>
            <div class="answer-div" style="background-color: rgba(41, 189, 239, 0.75);">
                <div class="answer-actions">
                    <button type="button" class="delete-answer-button"><img src="{% static 'CreateTest/img/trash.png' %}" alt=""></button>
                    <button type="button" class="image-answer-button"><img src="{% static 'CreateTest/img/picture.png' %}" alt=""></button>
                    <input type="file" name="answer-image" class="answer-image" accept="image/*" style="display: none;">
                </div>
                <div class="answer-text-div">
                    <textarea name="answer" placeholder="Введіть відповідь" id=""></textarea>
                </div>
            </div>
        </div>
        <div class="match-div">
            <div class="hint-div" style="background-color: rgb(133, 41, 239);">
                <div class="answer-actions">
                    <button type="button" class="delete-answer-button"><img src="{% static 'CreateTest/img/trash.png' %}" alt=""></button>
                    <button type="button" class="image-hint-button"><img src="{% static 'CreateTest/img/picture.png' %}" alt=""></button>
                    <input type="file" name="hint-image" class="hint-image" accept="image/*" style="display: none;">
                </div>
                <div class="hint-text-div">
                    <textarea name="hint" placeholder="Введіть підказку" id=""></textarea>
                </div>
            </div>
            <div class="answer-div" style="background-color: rgba(133, 41, 239, 0.75);">
                <div class="answer-actions">
                    <button type="button" class="delete-answer-button"><img src="{% static 'CreateTest/img/trash.png' %}" alt=""></button>
                    <button type="button" class="image-answer-button"><img src="{% static 'CreateTest/img/picture.png' %}" alt=""></button>
                    <input type="file" name="answer-image" class="answer-image" accept="image/*" style="display: none;">
                </div>
                <div class="answer-text-div">
                    <textarea name="answer" placeholder="Введіть відповідь" id=""></textarea>
                </div>
            </div>
        </div>
        <div class="match-div">
            <div class="hint-div" style="background-color: #EF7229;">
                <div class="answer-actions">
                    <button type="button" class="delete-answer-button"><img src="{% static 'CreateTest/img/trash.png' %}" alt=""></button>
                    <button type="button" class="image-hint-button"><img src="{% static 'CreateTest/img/picture.png' %}" alt=""></button>
                    <input type="file" name="hint-image" class="hint-image" accept="image/*" style="display: none;">
                </div>
                <div class="hint-text-div">
                    <textarea name="hint" placeholder="Введіть підказку" id=""></textarea>
                </div>
            </div>
            <div class="answer-div" style="background-color: rgba(239, 114, 41, 0.75);">
                <div class="answer-actions">
                    <button type="button" class="delete-answer-button"><img src="{% static 'CreateTest/img/trash.png' %}" alt=""></button>
                    <button type="button" class="image-answer-button"><img src="{% static 'CreateTest/img/picture.png' %}" alt=""></button>
                    <input type="file" name="answer-image" class="answer-image" accept="image/*" style="display: none;">
                </div>
                <div class="answer-text-div">
                    <textarea name="answer" placeholder="Введіть відповідь" id=""></textarea>
                </div>
            </div>
        </div>
        <button type="button" class="add-answer-button">
            <img src="{% static 'CreateTest/img/plus.svg' %}" alt="">
        </button>
    </div>
{% endblock %}