{% extends 'test_creation.html' %}
{% load static %}

{% block title %}Заповніть бланк{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'CreateTest/css/multiple_choice.css' %}">
{% endblock %}

{% block type_options %}
    <option value="multiple" selected>Множинний вибір</option>
    <option value="blank">Заповніть бланк</option>
    <option value="match">Поєднання</option>
{% endblock %}

{% block content %}
    <div class="answers-div">
        <div class="answer-div" style="background-color: #EFA929;">
            <div class="answer-actions">
                <button><img src="{% static 'CreateTest/img/trash.png' %}" alt=""></button>
                <button><img src="{% static 'CreateTest/img/picture.png' %}" alt=""></button>
                <div style="width: 100%; display: flex; justify-content: flex-end;">
                    <input type="checkbox" name="" id="">
                </div>
            </div>
            <div class="answer-text-div">
                <textarea name="" placeholder="Введіть відповідь" id=""></textarea>
            </div>
        </div>
        <div class="answer-div" style="background-color: #29BDEF;">
            <div class="answer-actions">
                <button><img src="{% static 'CreateTest/img/trash.png' %}" alt=""></button>
                <button><img src="{% static 'CreateTest/img/picture.png' %}" alt=""></button>
                <div style="width: 100%; display: flex; justify-content: flex-end;">
                    <input type="checkbox" name="" id="">
                </div>
            </div>
            <div class="answer-text-div">
                <textarea name="" placeholder="Введіть відповідь" id=""></textarea>
            </div>
        </div>
        <div class="answer-div" style="background-color: #8529EF;">
            <div class="answer-actions">
                <button><img src="{% static 'CreateTest/img/trash.png' %}" alt=""></button>
                <button><img src="{% static 'CreateTest/img/picture.png' %}" alt=""></button>
                <div style="width: 100%; display: flex; justify-content: flex-end;">
                    <input type="checkbox" name="" id="">
                </div>
            </div>
            <div class="answer-text-div">
                <textarea name="" placeholder="Введіть відповідь" id=""></textarea>
            </div>
        </div>
        <div class="answer-div" style="background-color: #EF7229;">
            <div class="answer-actions">
                <button><img src="{% static 'CreateTest/img/trash.png' %}" alt=""></button>
                <button><img src="{% static 'CreateTest/img/picture.png' %}" alt=""></button>
                <div style="width: 100%; display: flex; justify-content: flex-end;">
                    <input type="checkbox" name="" id="">
                </div>
            </div>
            <div class="answer-text-div">
                <textarea name="" placeholder="Введіть відповідь" id=""></textarea>
            </div>
        </div>
    </div>
{% endblock %}