{% extends 'test_creation.html' %}
{% load static %}

{% block title %}Множинний вибір{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'CreateTest/css/multiple_choice.css' %}">
    <script src="{% static 'CreateTest/js/multiple_choice.js' %}" defer></script>
{% endblock %}

{% block type_options %}
    <option value="multiple" selected>Множинний вибір</option>
    <option value="blank">Заповніть бланк</option>
    <option value="match">Поєднання</option>
{% endblock %}

{% block content %}
    <div class="answers-div">
        <div class="answer-div" style="background-color: #EFA929;">
            <div class="answer-actions">
                <button class="delete-answer-button"><img src="{% static 'CreateTest/img/trash.png' %}" alt=""></button>
                <button><img src="{% static 'CreateTest/img/picture.png' %}" alt=""></button>
                <div style="width: 100%; display: flex; justify-content: flex-end;">
                    <div class="checkbox">
                        <input type="hidden" name="is_correct" value="false">
                    </div>
                </div>
            </div>
            <div class="answer-text-div">
                <div class="auto-expanding-answer-div" contenteditable="true" placeholder="Введіть відповідь"></div>
            </div>
        </div>
        <div class="answer-div" style="background-color: #29BDEF;">
            <div class="answer-actions">
                <button class="delete-answer-button"><img src="{% static 'CreateTest/img/trash.png' %}" alt=""></button>
                <button><img src="{% static 'CreateTest/img/picture.png' %}" alt=""></button>
                <div style="width: 100%; display: flex; justify-content: flex-end;">
                    <div class="checkbox">
                        <input type="hidden" name="is_correct" value="false">
                    </div>
                </div>
            </div>
            <div class="answer-text-div">
                <div class="auto-expanding-answer-div" contenteditable="true" placeholder="Введіть відповідь"></div>
            </div>
        </div>
        <div class="answer-div" style="background-color: #8529EF;">
            <div class="answer-actions">
                <button class="delete-answer-button"><img src="{% static 'CreateTest/img/trash.png' %}" alt=""></button>
                <button><img src="{% static 'CreateTest/img/picture.png' %}" alt=""></button>
                <div style="width: 100%; display: flex; justify-content: flex-end;">
                    <div class="checkbox">
                        <input type="hidden" name="is_correct" value="false">
                    </div>
                </div>
            </div>
            <div class="answer-text-div">
                <div class="auto-expanding-answer-div" contenteditable="true" placeholder="Введіть відповідь"></div>
            </div>
        </div>
        <div class="answer-div" style="background-color: #EF7229;">
            <div class="answer-actions">
                <button class="delete-answer-button"><img src="{% static 'CreateTest/img/trash.png' %}" alt=""></button>
                <button><img src="{% static 'CreateTest/img/picture.png' %}" alt=""></button>
                <div style="width: 100%; display: flex; justify-content: flex-end;">
                    <div class="checkbox">
                        <input type="hidden" name="is_correct" value="false">
                    </div>
                </div>
            </div>
            <div class="answer-text-div">
                <div class="auto-expanding-answer-div" contenteditable="true" placeholder="Введіть відповідь"></div>
            </div>
        </div>
        <button class="add-answer-button">
            <img src="{% static 'CreateTest/img/plus.svg' %}" alt="">
        </button>
    </div>
{% endblock %}