{% load static %}
{% load customtags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'CreateTest/css/create_test.css' %}">
    <link rel="stylesheet" href="{% static 'CreateTest/css/test_info.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'library' %}">
            <button class="button-back">
                <img src="{% static 'img/black_arrow_down.svg' %}" alt="">
            </button>
        </a>
        <h3>Тест без назви</h3>
        <div class="header-saving-div">
            <button class="save-question-button">
                <img src="{% static 'CreateTest/img/save.png' %}" alt="">
                <p>Публікувати</p>
            </button>
        </div>
    </header>
    <main>
        <div class="test-info">
            <h1>{{ test.show_count_question }}</h1>
            <div class="add-button-div">
                <a href="{% url 'select_question' test.id %}">
                    <button class="add-button">
                        <img src="{% static 'CreateTest/img/plus_blue.svg' %}" alt="">
                        Додати питання
                    </button>
                </a>
            </div>
        </div>
        {% for question in test.question_set.all %}
            <div class="question-div">
                <div class="question-actions">
                    <button class="button-drag"><img src="{% static 'CreateTest/img/dots.svg' %}" alt=""></button>
                    <button class="question-type">{{ question.question_number }}. {{ question.answer_type }}</button>
                    <select class="select-type" style="background-image: url({% static 'CreateTest/img/dropdown_arrow.png' %});">
                        {% for i in range %}
                            {% if i == question.time %}
                                <option value="{{i}}_points" selected>{{i}} секунд</option>
                            {% else %}
                                <option value="{{i}}_points">{{i}} секунд</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <div class="question-div-buttons">
                        <a href="/create_quiz/edit/{{ test.id }}/question/{{ question.id }}/{{ question.answer_type }}"><button class="edit-button"><img src="{% static 'CreateTest/img/edit.png' %}" alt="">Редагувати</button></a>
                        <button class="delete-button"><img src="{% static 'CreateTest/img/trash.png' %}" alt=""></button>
                    </div>
                </div>
                <h3>{{ question.question }}</h3>
                {% if question.answer_type == 'multiple_choice' %}
                    <h4>Варіанти відповідей</h4>
                    <div class="question-answers-div">
                        {% str_to_list question.answers as answers %}
                        {% for answer in answers %}
                            {% check_answer_correct answers answer question.correct_answer as correct %}
                            {% if correct == 'true' %}
                                <div class="question-answer">
                                    <img src="{% static 'CreateTest/img/checkmark.png' %}" alt="">
                                    <p>{{ answer }}</p>
                                </div>
                            {% else %}
                                <div class="question-answer">
                                    <img src="{% static 'CreateTest/img/cross.png' %}" alt="">
                                    <p>{{ answer }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% elif question.answer_type == 'fill_blank' %}
                    <h4>Відповідь</h4>
                    <div class="blank-answer">
                        <img src="{% static 'CreateTest/img/checkmark.png' %}" alt="">
                        <p>{{ question.correct_answer }}</p> 
                    </div>
                    <hr>
                    <h4>Альтернативні відповіді</h4>
                    <div class="blank-alternate-answers">
                        {% str_to_list question.answers as answers %}
                        {% get_answers_from_list_dict answers as answers %}
                        {% for answer in answers %}
                            <div class="blank-alternate-answer">
                                <img src="{% static 'CreateTest/img/checkmark.png' %}" alt="">
                                <p>{{ answer }}</p> 
                            </div>
                        {% endfor %}
                    </div>
                {% elif question.answer_type == 'match' %}
                    <h4>Варіанти відповідей</h4>
                    {% str_to_list question.answers as answers %}
                    {% str_to_list question.correct_answer as hints %}
                    <div class="match-answers-div">
                        {% for answer, hint in answers|zip_lists:hints %}
                            <div class="match-answer-div">
                                <div class="match-prompt-div">
                                    <img src="{% static 'CreateTest/img/checkmark.png' %}" alt="">
                                    <p>{{ hint }}</p> 
                                </div>
                                <div class="match-response-div">
                                    <img src="{% static 'CreateTest/img/long_arrow.png' %}" alt="">
                                    <p>{{ answer }}</p> 
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button class="add-button">
            <img src="{% static 'CreateTest/img/plus_blue.svg' %}" alt="">
            Додати питання
        </button>
    </main>
</body>
</html>